<% include partials/header %>
<main class="main-content">
  <div class="hero">
    <div class="container">
      <h2>Consultation à vue
        <br> de <%= user.firstname%>
              <%= user.lastname%></h2>
      <a href="/transactions/add" class="button" style="float:right;margin-bottom:41px;">Effectuer un virement</a>
      <div class="row">
      <table class="table table-bordered table-hover" id="myTable" style="margin-top:12px;">
        <thead>
            <tr>
                <th>Payeur</th>
                <th>Bénéficiare</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Date création</th>
            </tr>
        </thead>
        <tbody>

            <% transactions.forEach(function(transaction){ %>
                <tr>
                    <td>
                    <%= transaction.id %>
                    </td>
                    <td><%if (transaction.payer==user.id) {%> Moi <%}else{%> <%= transaction.payer %><%}%></td>
                    <td><%if (transaction.beneficiary==user.id) {%> Moi <%}else{ if(transaction.beneficiary){%> <%= transaction.beneficiary.account_nb %><%}}%></td>
                    <td><%= transaction.type%></td>
                    <td><%= transaction.status%></td>
                    <td><%= transaction.amount%></td>
                    <td><%= transaction.createdAt%></td>
                    <td><a href="/transactions/<%=transaction.id%>">Détails</a></td>
                </tr>
                <% });%>
        </tbody>
    </table>
  </div>
</div>
</div>
</main> <!-- .main-content -->
    <% include partials/footer %>
